<div class="container">
	<div class="row flight-details">
		<div class="col-md-9 col-md-offset-3">

				<h2>Selected Flight</h2>

				<div class="panel-body">
					<table class="table">
						<thead>
							<tr>
								<th>Flight Number</th>
								<th>From</th>
								<th>Destination</th>
								<th>Departure Date</th>
								<th>Departure Time</th>
								<th>Duration</th>
								<th>Number of Passengers</th>
							</tr>
						</thead>

						<tbody>
							<tr>
								<td><%=  @flight.id  %></td>
								<td><%=  @flight.from_airport.name  %></td>
								<td><%=  @flight.to_airport.name  %></td>
								<td><%=  @flight.dep_time.strftime( "%a %d %b  %Y")  %></td>
								<td><%=  @flight.dep_time.strftime( "%H:%M")  %></td>
								<td><%= distance_of_time_in_words(@flight.duration.minutes) %></td>
								<td><%= @party_size %></td>
							</tr>
						</tbody>
					</table>
				</div>	
			</div>
		</div>
		
<div class="row passenger-details">			
	
	<%= form_for(@booking) do |f| %>
	
		<%= f.hidden_field :flight_id, value: @flight.id %>
	
		<% if @booking.errors.any? %>
			<div id="error-explanation">
				<h2><%= pluralize(@booking.errors.count,"error") %></h2>

				<ul>
					<% @booking.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>	
				</ul>
	
			</div>
	
		<% end %>
			
		<h3>Passenger Details</h3>				
		
		<%= f.fields_for :passengers do |passenger_form| %>

				<%= passenger_form.hidden_field :flight_id, value: @flight.id.to_i %>
		
			<div class="row passenger-input">
				<div class="col-md-12 well passenger_box">
		
					

					<div class="form_group">
					
						<%= passenger_form.label :name, "Name:" %>
						<%= passenger_form.text_field :name %>
					
					</div>

					<div class="form_group">
						
						<%= passenger_form.label :email, "Email:" %>
						<%= passenger_form.text_field :email %>
					
					</div>


				</div>
			</div>	

			<% end %>
			<%= hidden_field_tag :party_size, @party_size %>
			<%= f.hidden_field :flight_id, value: @flight.id.to_i %>
			<%= hidden_field_tag :flight_id, @flight.id.to_i %>

			<%= f.submit "Continue to Book", class: "btn btn-lg " %>

		<% end %>	
</div>						
			
	


</div>