<% if @booking %>





<div class="row flight_details">
		<div class="col-md-9 col-md-offset-3">

			<div class="row">
				<h2>Your booking ref is: <%= @booking.id %></h2>

			

			<div class="col-md-12 flight_details"></div>
				<div class="panel-body">
					<table class="table">
						<thead>
							<tr>
								<th>Flight Number</th>
								<th>From</th>
								<th>Destination</th>
								<th>Departure Date</th>
								<th>Departure Time</th>
								<th>Duration</th>
								<th>Number of Passengers</th>
							</tr>
						</thead>

						<tbody>
							<tr>
								<td><%=  @flight.id  %></td>
								<td><%=  @flight.from_airport.name  %></td>
								<td><%=  @flight.to_airport.name  %></td>
								<td><%=  @flight.dep_time.strftime( "%a %d %b  %Y")  %></td>
								<td><%=  @flight.dep_time.strftime( "%H:%M")  %></td>
								<td><%= distance_of_time_in_words(@flight.duration.minutes) %></td>
								<td><%= @booking.passenger_ids.count %></td>
							</tr>
						</tbody>
					</table>
				</div>	
			</div>
		</div>
</div>
<div class="row passenger_details">
	<h2>Passenger Details</h2>	


<div class="col-md-12 passenger_details"></div>
				<div class="panel-body">
					<table class="table">
						<thead>
							<tr>
								<th>Name</th>
								<th>Email</th>
								<th>Passport Number</th>
							</tr>
						</thead>

						<tbody>
							<% @passengers.each do |passenger|%>
								<tr>
									<td><%=  passenger.name %></td>
									<td><%=  passenger.email  %></td>
									<td><%=  passenger.passport_no  %></td>
								</tr>
							<% end %>	
						</tbody>
					</table>
				</div>	
			</div>




<% else %>

 Sorry. No booking matches that reference
	<div class="container search">

<%= form_tag(bookings_show_path, method: "get") do %>
		
		<div class="row search_booking">
		

<div class="col-md-3 ">
				
				<%= label_tag(:id, "Booking Ref") %>
				<%= text_field_tag(:id) %>
				<%= submit_tag("Search") %>
			</div>
		</div>
		
			
			
	
	<% end %>
</div>


<% end %>	